<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role-Based Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid mt-5 mb-5">
        <center><h6 style="color:red">{{msg}}</h6></center>
        <div class="row">
          <div class="col-md-6 p-4 border mx-auto"
            style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; border-radius: 10px;">
            <h4>Login to your JustRelax profile</h4>
            <small class="">Search & apply to jobs from India's No.1 Job Site</small>
            <form action="" method="post">
              {% csrf_token %}
              <div class="row mt-4">
                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <select class="p-2 rounded" name="role" id="" required="">
                      <option data-display="Select Role">Select Role</option>
                      <option>Candidate</option>
                      <option>Company</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4 mt-3">
                <div class="col">
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form6Example5">Email<span class="text-danger">*</span></label>
                <input type="email" id="form6Example5" class="form-control" name="email" />
              </div>
      
              <!-- PASSWORD input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form6Example3">Enter Password<span class="text-danger">*</span></label>
                <input type="password" id="form6Example3" class="form-control" name="password" />
              </div>
      
              <!-- Submit button -->
              <div class="text-center">
                <button type="submit" class="btn btn-outline-primary p-2 btn-lg mb-4">Log In Now</button>
              </div>
      
              <div class="mx-auto  text-center">
                <p class="mb-0 mt-3 fs-4"><small class="text-dark mr-2">Don't have an account ?</small> <a
                    href="{% url 'signup' %}" class="btn btn-outline-dark btn-md shadow-none font-weight-bold">Register Now</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
</body>

</html>