{% include 'include/base.html' %}
{% include 'include/header.html' %}
{% load static %}
<!-- SEARCH BANNER -->
<div class="container-fluid pt-3 pb-5" style="background-image: url('{% static 'images/banner1.png' %}'); background-size: cover; min-height: 50vh;">
    <h1 class="pt-5 text-center display-5 fw-bold ms-5" style="color: var(--first-color);">FIND THE RIGHT JOB</h1>
    <div class="container-boot pt-2">
        <!-- Search Box -->
        <div class="row">
            <div class="col-md-12 col-xs-12 d-flex justify-content-center">
                <!-- form -->
                <form action="#" method="get">
                    <div class="row">
                        <div class="col-lg-12 pt-4 d-md-flex d-lg-flex">
                            <input name="name" placeholder="city, state, location" type="text" id="form4Example1"
                                class="form-control shadow-none outline-none"
                                style="border-radius: 0; font-size: smaller; min-width: 50%;">
                            <input name="name" placeholder="Job title" type="text" id="form4Example1"
                                class="form-control shadow-none outline-none"
                                style="border-radius: 0; font-size: smaller; min-width: 50%;">
                            <button class="p-3 border-0 text-white"
                                style="background-color: var(--first-color); margin-right: 60px;">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- SIDE NAVIGATION  -->
<div class="container-fluid">
    <div class="row">
        <!-- ADVERTISEMENT -->
        <div class="col-md-1 text-white text-center" style="background-color: var(--first-color);">
            <span style="font-size: smaller;">Your Ad here</span>
            <span style="font-size: smaller;">Your Ad here</span>
            <span style="font-size: smaller;">Your Ad here</span>
            <span style="font-size: smaller;">Your Ad here</span>
        </div>
        <div class="col-md-2 side_link mt-5"
            style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; max-height: max-content;">
            <h5 class="fw-light mt-3 text-center">Top categories</h5>
            <hr>
            <a href="" class="ms-4 text-center"><i class="ri-arrow-right-line"></i>Mss</a>
            <hr>
            <a href="" class="ms-4 text-center"><i class="ri-arrow-right-line"></i>Mss</a>
            <hr>
            <a href="" class="ms-4 text-center"><i class="ri-arrow-right-line"></i>Mss</a>
            <hr>
            <a href="" class="ms-4 text-center"><i class="ri-arrow-right-line"></i>Mss</a>
            <hr>
            <a href="" class="ms-4 text-center"><i class="ri-arrow-right-line"></i>Mss</a>
            <hr>
            <a href="" class="ms-4 text-center"><i class="ri-arrow-right-line"></i>Mss</a>
            <hr>
            <a href="" class="ms-4 text-center"><i class="ri-arrow-right-line"></i>Mss</a>
            <hr>
            <a href="" class="ms-4 text-center"><i class="ri-arrow-right-line"></i>Mss</a>
            <hr>
        </div>


        <!-- JOB SORTER -->
        <div class="col-md-8 ps-lg-4 mt-5">
            <!-- SEARCH -->
            <div class="input-group pt-4 pb-4">
                <input type="search" class="form-control shadow-none border border-dark" style="border-radius: 0;"
                    placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="submit" class="btn btn-outline-primary"
                    style="border-radius: 0; border-left: none;">search</button>
            </div>
            <h3 class="fw-light ms-2 mt-3">LATEST JOBS</h3>
            <div class="row mt-3">
                <div class="col-md-12 p-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <span style="font-size: smaller;">Gegbyte</span><br>
                    <div class="d-flex justify-content-end">
                        <span style="font-size: 11px; background-color: var(--text-color); border-radius: 5px;"
                            class="p-1 text-muted border border-muted">12 applicant</span>
                    </div>
                    <span style="color: var(--first-color);" class="">Developer</span>
                    <div class="text-muted" style="font-size: smaller;">
                        <span>Pune</span><span class="ms-3">Full time</span><span class="ms-3"><i
                                class="ri-eye-line mx-1"></i>137</span>
                    </div>
                </div>
                <div class="col-md-12 p-4 mt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <span style="font-size: smaller;">Gegbyte</span><br>
                    <div class="d-flex justify-content-end">
                        <span style="font-size: 11px; background-color: var(--text-color); border-radius: 5px;"
                            class="p-1 text-muted border border-muted">12 applicant</span>
                    </div>
                    <span style="color: var(--first-color);" class="">Developer</span>
                    <div class="text-muted" style="font-size: smaller;">
                        <span>Pune</span><span class="ms-3">Full time</span><span class="ms-3"><i
                                class="ri-eye-line mx-1"></i>137</span>
                    </div>
                </div>
                <div class="col-md-12 p-4 mt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <span style="font-size: smaller;">Gegbyte</span><br>
                    <div class="d-flex justify-content-end">
                        <span style="font-size: 11px; background-color: var(--text-color); border-radius: 5px;"
                            class="p-1 text-muted border border-muted">12 applicant</span>
                    </div>
                    <span style="color: var(--first-color);" class="">Developer</span>
                    <div class="text-muted" style="font-size: smaller;">
                        <span>Pune</span><span class="ms-3">Full time</span><span class="ms-3"><i
                                class="ri-eye-line mx-1"></i>137</span>
                    </div>
                </div>
                <div class="col-md-12 p-4 mt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <span style="font-size: smaller;">Gegbyte</span><br>
                    <div class="d-flex justify-content-end">
                        <span style="font-size: 11px; background-color: var(--text-color); border-radius: 5px;"
                            class="p-1 text-muted border border-muted">12 applicant</span>
                    </div>
                    <span style="color: var(--first-color);" class="">Developer</span>
                    <div class="text-muted" style="font-size: smaller;">
                        <span>Pune</span><span class="ms-3">Full time</span><span class="ms-3"><i
                                class="ri-eye-line mx-1"></i>137</span>
                    </div>
                </div>
                <div class="col-md-12 p-4 mt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <span style="font-size: smaller;">Gegbyte</span><br>
                    <div class="d-flex justify-content-end">
                        <span style="font-size: 11px; background-color: var(--text-color); border-radius: 5px;"
                            class="p-1 text-muted border border-muted">12 applicant</span>
                    </div>
                    <span style="color: var(--first-color);" class="">Developer</span>
                    <div class="text-muted" style="font-size: smaller;">
                        <span>Pune</span><span class="ms-3">Full time</span><span class="ms-3"><i
                                class="ri-eye-line mx-1"></i>137</span>
                    </div>
                </div>
                <div class="col-md-12 p-4 mt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <span style="font-size: smaller;">Gegbyte</span><br>
                    <div class="d-flex justify-content-end">
                        <span style="font-size: 11px; background-color: var(--text-color); border-radius: 5px;"
                            class="p-1 text-muted border border-muted">12 applicant</span>
                    </div>
                    <span style="color: var(--first-color);" class="">Developer</span>
                    <div class="text-muted" style="font-size: smaller;">
                        <span>Pune</span><span class="ms-3">Full time</span><span class="ms-3"><i
                                class="ri-eye-line mx-1"></i>137</span>
                    </div>
                </div>
                <!-- MORE CARDS HERE -->

                <!-- HERE -->
            </div>
            <div class="container-fluid pb-5" aria-label="Page navigation example">
                <ul class="pagination d-flex justify-content-center mt-5">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link shadow-none outline-none" href="#">1</a></li>
                    <li class="page-item"><a class="page-link shadow-none outline-none" href="#">2</a></li>
                    <li class="page-item"><a class="page-link shadow-none outline-none" href="#">3</a></li>
                    <li class="page-item"><a class="page-link shadow-none outline-none" href="#">4</a></li>
                    <li class="page-item"><a class="page-link shadow-none outline-none" href="#">5</a></li>
                    <li class="page-item"><a class="page-link shadow-none outline-none" href="#">6</a></li>
                    <li class="page-item"><a class="page-link shadow-none outline-none" href="#">7</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- ADVERTISEMENT -->
        <div class="col-md-1 text-white text-center" style="background-color: var(--first-color);">
            <span style="font-size: smaller;">Your Ad here</span>
            <span style="font-size: smaller;">Your Ad here</span>
            <span style="font-size: smaller;">Your Ad here</span>
            <span style="font-size: smaller;">Your Ad here</span>
        </div>
    </div>
</div>
{% include 'include/footer.html' %}
